Basic requirements:
    basic window - Marius
    primitive ( transformari ) - George + Adina
    input + event handling - Marius
    randare - Radu

Intermediate requirements:
    coliziuni - Miruna
	
	PART 2:

    fonturi : marius -> radu
	texturi : adina + george -> radu
	brick breaker: marius + miruna

