Basic requirements:
    basic window - Marius
    primitive ( transformari ) - George + Adina
    input + event handling - Marius
    randare - Radu

Intermediate requirements:
    coliziuni - Miruna
	
	PART 2:

    fonturi : marius -> radu
	texturi : adina + george -> radu 
	brick breaker: marius + miruna
	
	Part 3:
	
	manager coliziune/text finisat -> marius
	time step fixing/livrare catre marius -> radu 
	implement textures in project: rectangle, shader -> george
	constraints pe window size/ refactoring joc/ diving in randare -> miruna 
	sunete -> adina 
	
	PART 4:
	(sunete) -> adina 
	fix manager coliziune / fix text finisat/ sterg display -> marius
	forward draw pe rectangle/ texturi pe brick breaker ->george
	teste coliziune ->miruna
	lumini/ remove to draw list/(wraper fizica) /(backgroung miscator) ->radu
	
	PART5:
	
	sunete -> adina
	integrare audio/forward draw pe rectangle ->george
	fix text inlocuire cu glut/integrare unit teste ->marius
	fix text integrare label in randare ->radu
	fix coliziune/wraper fizica ->miruna
	->TODO: backgroung miscator
	
	
	PART6:
	
	Sunete (engine+joc) -> George + Adina
	Lumina, background -> Radu
	Testat joc la greu -> Miruna
	Text + inimioare pentru scor -> Marius
	Documentatie -> toti
	Refactoring cod -> toti

	PART7:
	HUD vizibil-> Radu
	Unbind managers + refactorizare consturi-> Marius
	Application implementation -> Miruna
	Game over "screen" -> Adina
	Resize window, index Documentatie -> George
	
